@font-face {
    font-family: "SprayLetters";
    src: url(../fonts/Spray_Letters.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: "SprayLetters";
}
#gameTable{
    background-color: grey;
    display: grid;
    width: 500px;
    height: 500px;
    margin: 50px auto;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.field{
    border: 1px solid rgb(255, 255, 255);
    font-size: 140px;
    text-align: center;
    line-height: 150px;
    cursor: pointer;
}